

nav {
    display: block;
    position: fixed;
    overflow: visible;
    width:80%
}

.notnav {
    padding-top: 60px
}

#navigationDiv {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    justify-self: center;
    width: 80%;
    li{
        width:fit-content;
        padding: 2.4%;
    }
    .floatRight {
        justify-self: right;
    }
}

li{
    list-style-type: none;
    width: 100%;
    a{
        text-decoration: none;
        font-size: medium;
        color:black;
    }
}

.padded{
    border: 24px;
    border-top: 16px;
    border-bottom:16px;
}

.listElement {
    display:block;

    background-color: white;
    border: none;
    font-family: 'Times New Roman', Times, serif;
} 

.dropdown-container {
    display: inline-block;
    position: relative;
}

.dropdownContent {
    display:none;
    position:absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        display:block;
        color:black;
        text-decoration: none;
        text-align: left;
        padding:12px 16px;
    }
}

.listElement:hover {
    background-color: lightgrey;
    
}

.dropdown-container:hover .dropdownContent{
    display:block;
}

.dropdown:hover .listElement{
    background-color: lightgrey;
}

.floatRight{
    float: right;
    text-decoration: none;
    color:black;
    padding-right: 10%;
}
/* this is where nav bar css ends */