
.questions {
    padding-left: 30px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    padding-top: 30px;
    
}

ul {
    padding-left: 20px;
}

li {
    list-style-type:decimal;
}